* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  background-color: #15202b;
}

.app {
  display: flex;
  flex-direction: row;
}

.menu {
  /* position: fixed; */
  height: 100vh;
  width: 20vw;
  background-color: inherit;
  color: white;
  border-right: 1px solid #38444d;
}

.menu-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 20px;
  margin-top: 50px;
}

.menu-icon {
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 143px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 25px;
  transition: all 0.5s;
}

.menu-icon:hover {
  color: #1da1f2;
  border: 1px solid #182c40;
  background-color: #182c40;
}

.menu-icon > svg {
  color: rgb(255, 255, 255);
  margin-right: 20px;
  height: 40px;
  width: 40px;
  fill: #ffffff;
}
.menu-icon > span {
  font-size: 20px;
  font-weight: 700;
  text-align: start;
}

.active {
  color: #1da1f2;
  border: 1px solid #182c40;
  background-color: #182c40;
}
.active > svg {
  fill: #1da1f2;
}
.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
/* 
.icon-svg {
  fill: #ffffff;
} */

.main {
  width: 60vw;
  min-height: 100vh;
  max-height: max-content;
  border-right: 1px solid #38444d;
  background-color: inherit;
}
.page-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
  height: 50px;
  border-bottom: 1px solid #38444d;
  color: white;
}
.page-heading > h2 {
  padding-left: 15px;
}